<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40678640607-ehgkbvk4j0dbbm1gg74g0p22ss4kbeuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40678640607-ehgkbvk4j0dbbm1gg74g0p22ss4kbeuv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>40678640607-20mk13j1mtjllrv7q740gfs4me8tjjqk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYqPxAqdDsmeuZ9tZm_P6U1ajFTqR_JOU</string>
	<key>GCM_SENDER_ID</key>
	<string>40678640607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hongseeun.sujungvillage.user.ios</string>
	<key>PROJECT_ID</key>
	<string>sujungvillage-1660023039079</string>
	<key>STORAGE_BUCKET</key>
	<string>sujungvillage-1660023039079.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40678640607:ios:a0f0bcdc363a493c71526a</string>
</dict>
</plist>